<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sortable US Population Data</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  </head>
  <body>
    <section role="main" class="main">
      <%== yield %>
    </section>
    <div class="chart">
    </div>
    <footer></footer>
  </body>
</html>

<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/tablesorter/jquery.tablesorter.js"></script>
<script src="javascripts/tablesorter.js"></script>
